<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue GIGA</title>
</head>
<body>
    <div id="myApp"> 
        
        <input type="text" v-model="inputText" @keypress="updateJson">
        <button v-on:click="setRandomColors">Json with random colors</button>
        <hr>
        <h1>Texto</h1>
       
        
            <template v-for="({caracter, isVowel}, index) in charJson"> 
               <span v-if='isVowel' style='color:red'>{{caracter}}</span>
               <span v-if='!isVowel' style='color:black'> {{caracter}}</span>
            </template>
       
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>